.sidebar {
  width: 20%;
  height: calc(100vh - 50px);
  float: left;
  background: #f5f5f5; 
}
.sidebar-menu {
  background-color: #f5f5f5;
}
.sidebar-item {
  line-height: 40px;
  display: flex;
  align-items: center;
}
.content-area {
  width: 80%;
  height: calc(100vh - 50px);
  float: left; 
  padding: 15px;
}